$color-w: #fff;
$color-b: #000;
$border: #66ff00;
$shadow: #505050; 

@mixin text ($size, $weig) {
    font-size: $size;
    font-weight: $weig;
}

@mixin flexbox ($disp, $just, $alig){
    display: $disp;
    justify-content: $just;
    align-items: $alig;
}

@mixin phone { 
    @media screen and (min-width: 320px) and (max-width:480px) {@content};
}

@mixin tablets {
    @media screen and (min-width:481px) and (max-width:768px) {@content};
}

@mixin laptos {
    @media screen and (min-width:769px) and (max-width:1024px) {@content};
}

body {font-family: "Stack Sans Notch", sans-serif;}

// ---------HEADER (1)
.header {
    width: 100%;
    margin-top: 20px;
    @include flexbox(flex, space-between, 0);
    background-color: $color-w;

    // @media screen and (max-width: 800px) {
    //     display: none;
    // }

    .header__img {width: 150px;}

    .header__nav {
        @include flexbox(flex, center, center);
        gap: 30px;

        a {
            color: $color-b;
            text-decoration: none;
            @include text(20px, 600);
            opacity: 0.7;
        }
    }

    .header__icon {
        @include flexbox(flex, center, center);
        img {width: 40px;}
    }
}
// ---------HEADER

// ---------ASIDE (1)
.aside {
    width: 100%;
    padding: 15px 0px;
    background-color: $color-w;

    .aside__ban {
        a {
            @include flexbox(flex, space-between,0);
            text-decoration: none;

            .aside__text {
                @include flexbox(flex, space-between, center);
                margin: 10px;
                margin-left: 330px;
                @include text(17px, 600);
                color: $color-b;
            }

            // icon arrow
            .aside__iconArr {
                @include flexbox(flex, space-between, center);
                margin-right: 60px;

                img {width: 30px;}
            }
        }
    }

    .aside__img {
        margin: 10px 0px;
        width: 100%;
        height: 640px;
        box-sizing: border-box;
    }

    .aside__elec {
        h2 {
            @include text(37px, 600);
            padding: 50px 0px;
            text-align: center;
        }

        .aside__elec--elem {
            display: grid;
            // repeat(auto-fill, minmax(250px, 1fr));
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            justify-items: center;
            background-color: $color-w;
            padding: 15px;

            img {
                width: 120px;
                height: 130px;
                border-radius: 50%;
            }

            button {
                display: inline-block;
                background-color: $color-b;
                color: $color-w;
                padding: 2px 10px;
                @include text(15px, 600);
                margin-left: -40px;
            }
        }
    }
}
// ---------ASIDE

// ---------MAIN
.main {
    img { width: 100px;}

    .main__pro {
        width: 90%;//-------W,M,P
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: grid;
        gap: 20px;
        //*
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        article {
            cursor: pointer;
            text-align: center;
            justify-items: baseline;

            img{
                width: 200px;
                margin-bottom: 15px;
                padding: 8px;
                box-sizing: border-box;
            }

            h3, h4{
                padding: 5px;
                opacity: 0.9;
            }

            p {
                font-size: 18px;
                padding: 5px;
                color: $border;
            }
        }
    }

    .main__car {
        width: 600px;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        // https://www.w3schools.com/css/css_positioning.asp
        position: fixed;
        right: 50%; //*
        top: 100px; //*
        // https:www.w3schools.com/cssref/css3_pr_box-shadow.php
        box-shadow: -8px -6px 20px 1px $shadow;

        h2 {
            width: 100%;
            text-align: center;
            @include text(30px, 600);
            color: $color-b;
            // inset (opuesto)
            box-shadow: inset -8px -6px 20px 1px $shadow;
            padding: 20px 0;
            box-sizing: border-box;
        }

        .main__obj {
            border-bottom: 1px solid $border;
            border-top: 1px solid $border;
            padding: 5px;
            @include flexbox(flex, space-between, center);
            padding: 15px;
            box-sizing: border-box;
            i, img { width: 60px;}
            p, h3 { @include text(20px, 600);}
        }
    }
    
}
