// ---------HEADER (1)
.header {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;

    .header__img {
        width: 150px;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        a {
            color: black;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            opacity: 0.7;
        }
    }

    .header__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 40px;
        }
    }
}
// ---------HEADER

// ---------ASIDE

.aside {
    width: 100%;
    padding: 15px 0px;
    background-color: #ffffff;

    .aside__ban {
        a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;

            .aside__text {
                display: flex;
                margin: 10px;
                justify-content: space-between;
                align-items: center;
                margin-left: 330px;
                font-size: 17px;
                font-weight: 600;
                color: #000000;
            }

            // icon arrow
            .aside__iconArr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 60px;

                img {
                    width: 30px;
                }
            }
        }
    }

    .aside__img {
        margin: 10px 0px;
        width: 100%;
        height: 640px;
        box-sizing: border-box;
    }

    .aside__elec {
        h2 {
            font-size: 37px;
            font-weight: 600;
            padding: 50px 0px;
            text-align: center;
        }

        .aside__elec--elem {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            justify-items: center;
            background-color: #ffffff;
            padding: 15px;

            img {
                width: 120px;
                height: 130px;
                border-radius: 50%;
            }

            button {
                display: inline-block;
                background-color: #000000;
                color: #fff;
                padding: 2px 10px;
                font-size: 15px;
                font-weight: 600;
                margin-left: -40px;
            }
        }
    }
}

// ---------ASIDE
