body {
    font-family: "Stack Sans Notch", sans-serif;
}

// ---------HEADER (1)
.header {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;

    .header__img {
        width: 150px;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        a {
            color: black;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            opacity: 0.7;
        }
    }

    .header__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 40px;
        }
    }
}
// ---------HEADER

// ---------ASIDE (1)
.aside {
    width: 100%;
    padding: 15px 0px;
    background-color: #ffffff;

    .aside__ban {
        a {
            display: flex;
            justify-content: space-between;
            text-decoration: none;

            .aside__text {
                display: flex;
                margin: 10px;
                justify-content: space-between;
                align-items: center;
                margin-left: 330px;
                font-size: 17px;
                font-weight: 600;
                color: #000000;
            }

            // icon arrow
            .aside__iconArr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 60px;

                img {
                    width: 30px;
                }
            }
        }
    }

    .aside__img {
        margin: 10px 0px;
        width: 100%;
        height: 640px;
        box-sizing: border-box;
    }

    .aside__elec {
        h2 {
            font-size: 37px;
            font-weight: 600;
            padding: 50px 0px;
            text-align: center;
        }

        .aside__elec--elem {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            justify-items: center;
            background-color: #ffffff;
            padding: 15px;

            img {
                width: 120px;
                height: 130px;
                border-radius: 50%;
            }

            button {
                display: inline-block;
                background-color: #000000;
                color: #fff;
                padding: 2px 10px;
                font-size: 15px;
                font-weight: 600;
                margin-left: -40px;
            }
        }
    }
}
// ---------ASIDE

// ---------MAIN
.main {
    img {
        width: 100px;
    }

    .main__pro {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
        display: grid;
        gap: 20px;
        //*
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        article {
            cursor: pointer;
            text-align: center;
            justify-items: baseline;

            img{
                width: 200px;
                margin-bottom: 15px;
                padding: 8px;
                box-sizing: border-box;
            }

            h3, h4{
                padding: 5px;
                opacity: 0.9;
            }

            p {
                font-size: 18px;
                padding: 5px;
                color: #6efd0f;
            }
        }
    }

    .main__car {
        width: 600px;
        height: auto;
        // background-color: #a7ce8e;
        // border: 2px groove #6efd0f;
        padding: 20px;
        box-sizing: border-box;
        //*modifier
        position: fixed;
        right: 50%; //*
        top: 100px; //*
        box-shadow: -8px -6px 20px 1px #505050;

        h2 {
            width: 100%;
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            color: #000000;
            box-shadow: inset -8px -6px 20px 1px #505050;
            padding: 20px 0;
            box-sizing: border-box;
        }

        .main__obj {
            border-bottom: 1px solid #66ff00;
            border-top: 1px solid #66ff00;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            box-sizing: border-box;

            i, img { width: 60px;}

            p, h3 { 
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
    
}
